alabaster==0.7.12
appnope==0.1.3
argon2-cffi==21.3.0
async-generator==1.10
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
bleach==5.0.0
broadbean==0.10.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
contextlib2==21.6.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
docutils==0.18.1
entrypoints==0.4
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.8.0
google-auth==2.6.6
googleapis-common-protos==1.56.0
google-auth==2.6.6
googleapis-common-protos==1.55.0
h5netcdf==1.0.0
h5py==3.6.0
idna==3.3
imageio==2.19.1
imagesize==1.3.0
ipykernel==6.13.0
ipython==7.33.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonpointer==2.3
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==2.0.2
mypy-extensions==0.4.3
-e git+https://github.com/microsoft/nanotune.git@48fdd245cdbfeddc1c4544230074e9c53d61e73c#egg=nanotune
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nbsphinx==0.8.8
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.11
numpy==1.21.6
opencensus==0.9.0
opencensus-context==0.1.2
opencensus-ext-azure==1.1.4
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.14.1
Pillow==9.1.0
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyVISA==1.11.3
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==22.3.0
qcodes==0.33.0
reportlab==3.6.9
requests==2.27.1
requirements-parser==0.5.0
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
schema==0.7.5
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-jsonschema==1.19.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.9
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2021.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.2.0
typing-extensions==4.2.0
uncertainties==3.1.6
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
widgetsnbextension==3.6.0
wrapt==1.14.1
xarray==0.20.2
